node_modules/
npm-debug.log*
.vscode-test/
.nyc_output/
coverage/
*.vsix
../.git/
../node_modules/
../dist/
../build/
../coverage/
../.DS_Store
../package-lock.json
../.dockerignore
../Dockerfile*
../docker-compose.yml
../jest.config.js
../scripts/
../cli/node_modules/
../client/node_modules/
../core/node_modules/
../server/node_modules/